.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.category-title {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 38px;
  margin-bottom: 25px;
}
